<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React Stats - Web Server</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href='favicon.ico' />
  </head>
  <body>
    <div id="root"></div>
    <script type="application/javascript" src="./dist/bundle.js"></script>
  </body>
</html>